.navbar {
    background: #1a3b5e;
}

.jumbotron {
    color: #1a3b5e;
}

#searcharea {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.modal-header {
    background: #1a3b5e;
    color: #eeb211;
    font-weight: bold;
}

#emailTextBox {
    margin-bottom: 10px;
}

#update {
    width: 70%;
    margin: 0 auto;
}

#update ul {
    list-style: none;
    margin: 10;
    padding-top: 10px;
}

#update ul li {
    border-radius: 5px;
    width: 100%;
    padding: 20px;
    background: #EEE;
    padding-bottom: 10px;
    height: 110px;
    overflow: hidden;
    border-bottom: 1px dotted #CCC;
    -webkit-animation: myanim 1s;
    -moz-animation: myanim 1s;
    -o-animation: myanim 1s;
    animation: myanim 1s;
    -webkit-transition: height 0.3s ease-out;
    -moz-transition: height 0.3s ease-out;
    -o-transition: height 0.3s ease-out;
    transition: height 0.3s ease-out;
}

#update li:hover {
    min-height: 200px;
    height: auto;
    float: left;
}

#update h4 {
    margin: 0;
    padding: 0;
    font-size: 1.2em;
    padding-bottom: 5px;
    padding-top: 20px;
    font-weight: bold;
    color: #1a3b5e;
    border-bottom: 1px dotted #CCC;
    margin-bottom: 10px;
}

#update img {
    margin: 0px;
    float: left;
    width: 300px;
    border-radius: 5px;
}

#update img:hover {
    cursor: pointer;
}


